spec:
  inputs:
    ROS_DISTROS:
      type: array
      description: The ROS distribution to build for
      default: ["humble", "jazzy"]
    HW_TARGETS:
      type: array
      description: The architectures to build for
      default: ["aarch64", "x86_64"]
---
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

stages:
  - Build

build:
  stage: Build
  tags: [$ARCH]
  services:
    - docker:dind
  image: cgr.dev/chainguard/docker-dind
  script:
    - ./ci_scripts/multiarch_distro_build.sh

  parallel:
    matrix:
      - ROS_DISTRO: $[[ inputs.ROS_DISTROS ]]
        ARCH: $[[ inputs.HW_TARGETS ]]
