spec:
  inputs:
    ARCHITECTURES:
      type: array
      description: The architectures to build for
      default: ["linux/arm64/v8"]
    ROS_DISTROS:
      type: array
      description: The ROS distribution to build for
      default: ["humble"]
---
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

stages:
  - Build

build:
  stage: Build
  services:
    - docker:dind
  image: docker:latest
  script:
    - |
      ########## Build job ##########

      # Make sure you have a builder that supports multi‑arch
      docker buildx create --name multiarch --use
      docker buildx inspect --bootstrap    # Installs QEMU and other helpers

      # Login to the registry
      echo "$REGISTRY_PWD" | docker login -u $REGISTRY_USER --password-stdin $CI_REGISTRY

      if [[ $ARCH == "linux/arm64/v8" ]]; then
        SHORT_ARCH="arm64"
      else
        SHORT_ARCH=$ARCH
      fi

      # Sanitize SHORT_ARCH – keep only letters, digits, dashes and periods,
      # replace everything else with a dash
      SHORT_ARCH=${SHORT_ARCH//[^a-zA-Z0-9.-]/-}

      # Build and push the image
      docker buildx build \
        --platform $ARCH \
        --build-arg ROS_DISTRO=$ROS_DISTRO \
        -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME" \
        -t "$CI_REGISTRY_IMAGE:${ROS_DISTRO}-${SHORT_ARCH}" \
        --push .
  parallel:
    matrix:
      - ARCH: $[[ inputs.ARCHITECTURES ]]
        ROS_DISTRO: $[[ inputs.ROS_DISTROS ]]
