variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

stages:
  - Build

# default:
#   before_script:
#     - |
#       ########## Download bash scripts ##########
#       git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/mndsp/devops
#       mv devops/select_branch.sh select_branch.sh
#       rm -rf devops
#       chmod +x select_branch.sh
#       . ./select_branch.sh

#       # DEVOPS_BRANCH var is set by the select_branch.sh script
#       git clone -b $DEVOPS_BRANCH --depth=1 https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/mndsp/devops

build:
  stage: Build
  services:
    - docker:dind
  image: registry.gitlab.com/mndsp/devops
  script:
    - |
      ########## Build job ##########
      # . ./devops/script/build.sh

      docker  buildx build --platform linux/arm64/v8 -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .

      echo "$REGISTRY_PWD" | docker login -u $REGISTRY_USER --password-stdin $CI_REGISTRY

      docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
