spec:
  inputs:
    ROS_DISTROS:
      type: array
      description: The ROS distribution to build for
      default: ["humble", "jazzy"]
    ARCHITECTURES:
      type: array
      description: The architectures to build for
      default: ["aarch64"]
---
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

stages:
  - Build

build:
  stage: Build
  services:
    - docker:dind
  image: docker:latest
  script:
    - |
      ########## Build job ##########

      # Make sure you have a builder that supports multi‑arch
      docker buildx create --name multiarch --use
      docker buildx inspect --bootstrap    # Installs QEMU and other helpers

      # Login to the registry
      echo "$REGISTRY_PWD" | docker login -u $REGISTRY_USER --password-stdin $CI_REGISTRY

      # Set the platform according to the architecture
      if [[ $ARCH == "aarch64" ]]; then
        PLATFORM="linux/arm64/v8"
      elif [[ $ARCH == "x86_64" ]]; then
        PLATFORM="linux/amd64"
      else
        PLATFORM=$ARCH
      fi

      # Sanitize ARCH – keep only letters, digits, dashes and periods,
      # replace everything else with a dash
      ARCH=${ARCH//[^a-zA-Z0-9.-]/-}

      # Build and push the image
      docker buildx build \
        --platform $PLATFORM \
        --build-arg ROS_DISTRO=$ROS_DISTRO \
        -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME" \
        -t "$CI_REGISTRY_IMAGE:${ROS_DISTRO}-${ARCH}" \
        --push .
  parallel:
    matrix:
      - ROS_DISTRO: $[[ inputs.ROS_DISTROS ]]
        ARCH: $[[ inputs.ARCHITECTURES ]]
